@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/mixins';

.auth,
.authError {
  background-color: $rich-white-color;
  border-radius: $radius-16px;
  padding: 48px 56px;

  &__title {
    @include authTitle;
  }
  input {
    @include input;
  }
  label {
    @include label;
  }
  input:focus ~ label,
  input[data-req='on'] ~ label {
    @include animateLabel;
  }

  &_form {
    margin-top: 32px;
    @include flex(column, flex-start, stretch, nowrap);
    .input {
      border-bottom: 1px solid $grey-white-color;
      position: relative;
    }
    .input {
      border-bottom: 1px solid $grey-white-color;
      @media (width < 600px) {
        margin-bottom: 32px;
      }
    }
    .input  {
      @include passwordInput;
    }
    &__passwordManual___error,
    &__loginManual___error {
      @include manual;
      color: $red-color;
    }
    &__loginManual___error {
      margin-bottom: 36px;
    }
    &__forgotPassword {
      @include font(normal, 500, 12px, 16px, 0.2px);
      color: $grey-color;
      margin-left: 1em;
      background-color: inherit;
      margin-bottom: 2.666em;
      cursor: pointer;
      @media (width < 600px) {
        margin-left: 0;
      }
    }
    &__submit {

      @include submit();

    }

    &_registrationBlock {
      @include redirectLinkBlock;
    }
    &__registration {
      @include redirectLink;
    }
    &__error {
      @include font(normal, 500, 12px, 16px, 0.2px);
      color: $red-color;
      margin-left: 1em;
      @media (width < 600px) {
        margin-left: 0;
      }
    }
    .errorBorder {
      border-color: $red-color;
    }
    .errorText {
      color: $red-color;
    }
  }
  @media (width < 600px) {
    padding: 24px 17px 27px 16px;
  }
}

.authError {
  @include blockWithError;
}
