@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/mixins';

.input {
  @include passwordInput;

  input {
    @include input;
    background: none;
    position: relative;
    z-index: 10;
    border: none;
  }
  label {
    @include label;
  }
  input:focus ~ label,
  input[data-req='on'] ~ label {
    @include animateLabel;
  }
  &__passwordManual {
    @include manual;
    margin-bottom: 50px;
  }
}

.input_marginBottom36 {
  margin-bottom: 36px;
}
.input_marginBottom68 {
  margin-bottom: 68px;
}

.errorBorder {
  border-color: $red-color;
}
.errorText {
  color: $red-color;
}
