@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import './styles/abstracts/variables';
@import './styles/abstracts/mixins';

body {
  height: 100%;
  justify-content: center;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.1px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}
input,
button,
textarea,
select {
  padding: 0;
  font: inherit;
  border: none;
  outline: none;
}

// swiper
.swiper-pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;

  &-bullet {
    width: 7px;
    height: 7px;
    margin: 0;

    &-active {
      background-color: #363636;
      width: 9px;
      height: 9px;
    }
  }
}

// toastify
.Toastify {
  &__toast {
    border-radius: 5px;
    padding-inline: 36px;
    &-container--top-center {
      width: 1100px;
      top: 64px;
      @include font(normal, 600, 16px, 24px, 0.1px);
      @media (width < 1141px) {
        width: 640px;
        @include font(normal, 600, 14px, 18px, 0.1px);
      }
      @media (width < 650px) {
        width: 280px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &-icon {
      margin-right: 28px;
      @media (width < 1141px) {
        margin-right: 15px;
        width: 18px;
        height: 18px;
      }
      @media (width < 650px) {
        align-self: flex-start;
      }
    }
    &-theme--light {
      color: $dark-color;
    }
    &-body {
      padding: 0;
    }
    @media (width < 1141px) {
      padding-inline: 19px;
    }
    @media (width < 650px) {
      padding-block: 12px;
    }
  }

  &__close-button {
    align-self: center;
    opacity: 1;
    background-image: url('./assets/img/toast/close.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;

    @media (width < 650px) {
      align-self: flex-start;
    }
    @media (width < 1141px) {
      width: 14.5px;
      height: 14.5px;
    }
  }
}

.Toastify__toast-theme--light.Toastify__toast--error {
  border: 1.5px solid $red-color;
  background-color: $pale-orange-color;
}
.Toastify__toast-theme--light.Toastify__toast--success {
  border: 1.5px solid $green-color;
  background-color: $pale-green;
}


