@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/mixins';

.auth,
.authError {
  max-width: 528px;
  background-color: $rich-white-color;
  border-radius: $radius-16px;
  padding: 48px 56px;
  &__title {
    @include authTitle;
  }

  input {
    @include input;
  }
  label {
    @include label;
  }
  input:focus ~ label,
  input[data-req='on'] ~ label {
    @include font(normal, 500, 12px, 16px, 0.2px);
    top: 6px;
    color: $grey-color;
  }

  &_form {
    margin-top: 32px;
    @include flex(column, flex-start, stretch, nowrap);

    &__passwordManual {
      @include manual;
      margin-bottom: 50px;
    }

    .input {
      @include passwordInput;
    }
    .errorBorder {
      border-color: $red-color;
    }

    &__submit {
      @include submit();
    }

    .errorText {
      color: $red-color;
    }
  }
  @media (width < 600px) {
    padding: 24px 17px 27px 16px;
  }
}

.authError {
  @include blockWithError;
}

